AWS_ACCOUNT_ID=123456789000
AWS_REGION=eu-west-1
AWS_ACCESS_KEY_ID=AKIAABCD1234EFGH5678
AWS_SECRET_ACCESS_KEY=abcd1234ABCDefgh5678EFGHijklmno90IJKLMNO
CLUSTER_NAME=my-cluster
CLUSTER_REGION=eu-west-1
